<div class="photo">
  <% blogpost.uploads.each do |upload| %>
  <%= link_to image_tag(upload.image.url(:thumb, false)), upload.image.url(:medium, false), :rel => "shadowbox[#{blogpost.id}]", :src => upload.image.url(:thumb, false), :title => upload.image_file_name %>
  <% end %>
</div>
