<% if not signed_in? %>
<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>
<% end %>
<% unless @blogposts.empty? %>
<table class="blogposts" summary="User blogposts">
  <%= render @blogposts %>
</table>
<% end %>
